body {
    background-color: black;
}

/* label focus color */
.input-field textarea[type=text]:focus + label {
    color: rgb(255, 149, 149) !important;
}
/* label underline focus color */
.input-field textarea[type=text]:focus {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}